{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
  <div class="header">
    {{#with header}}
    <header class="header__content">

      <div class="header__block">
        <img src="/svg/apple.svg" class="header__icon" alt="Apple">

        <nav class="header__block ">
          {{#each links}}
          <a href="{{url}}" class="header__link">{{text}}</a>
          {{/each}}
        </nav>
      </div>

      <div class="header__block">
        <img src="/svg/search.svg" class="header__icon" alt="Search">
        <img src="/svg/profile.svg" class="header__icon" alt="Profile">
      </div>

    </header>
  </div>

  {{#with ad}}
  <div class="advertising">
    <div class="advertising__content">
      <div class="advertising--text">{{title}}</div>
      {{#with link}}
      <a href="{{url}}" class="advertising--buttom">{{text}}</a>
      {{/with}}
    </div>
  </div>
  {{/with}}
  {{/with}}

  {{#with iphone_pro}}
  <section class="product product-big product--iphone-pro product--dark product--top">
    <div class="product__content">
      <h1 class="product__title">{{title}}</h1>
      <p class="product__description">{{descriptions}}</p>
      <div class="product__action">
        {{#with link}}
        {{#each text}}
        <a href="{{../link}}" class="product__link">{{this}}</a>
        {{/each}}
        {{/with}}
      </div>
    </div>
  </section>
  {{/with}}


  {{#with iphone}}
  <section class="product product-big product--iphone product--light  product--top">
    <div class="product__content">
      <h1 class="product__title">{{title}}</h1>
      <p class="product__description">{{descriptions}}</p>
      <div class="product__action">
        {{#with link}}
        {{#each text}}
        <a href="{{../link}}" class="product__link">{{this}}</a>
        {{/each}}
        {{/with}}
      </div>
    </div>
  </section>
  {{/with}}

  {{#with iwatch}}
  <section class="product product-big product--apple-watch product--dark product--top">
    <div class="product__content">
      <h1 class="product__title">{{title}}</h1>
      <p class="product__description">{{descriptions}}</p>
      <div class="product__action">
        {{#with link}}
        <a href="{{link}}" class="product__link">{{text}}</a>
        {{/with}}
      </div>
    </div>
  </section>
  {{/with}}

  <div class="section__double">
    {{#with trade_in}}
    <section class="product product-small product--trade-in product--light  product--top">
      <div class="product__content">
        <h1 class="product__title">{{title}}</h1>
        <p class="product__description">{{descriptions}}</p>
        <div class="product__action">
          {{#with link}}
          <a href="{{link}}" class="product__link">{{text}}</a>
          {{/with}}
        </div>
      </div>
    </section>
    {{/with}}

    {{#with conference}}
    <section class="product product-small product--conference product--dark  product--bottom">
      <div class="product__content">
        <h1 class="product__title">{{title}}</h1>
        <p class="product__description">{{descriptions}}</p>
        <div class="product__action">
          {{#with link}}
          <a href="{{link}}" class="product__link">{{text}}</a>
          {{/with}}
        </div>
      </div>
    </section>
    {{/with}}

    {{#with ipad}}
    <section class="product product-small product--tablet product--light  product--top">
      <div class="product__content">
        <h1 class="product__title">{{title}}</h1>
        <p class="product__description">{{descriptions}}</p>
        <div class="product__action">
          {{#with link}}
          <a href="{{link}}" class="product__link">{{text}}</a>
          {{/with}}
        </div>
      </div>
    </section>
    {{/with}}

    {{#with small_business}}
    <section class="product product-small product--laptop product--dark product--top">
      <div class="product__content">
        <h1 class="product__title">{{title}}</h1>
        <p class="product__description">{{descriptions}}</p>
        <div class="product__action">
          {{#with link}}
          <a href="{{link}}" class="product__link">{{text}}</a>
          {{/with}}
        </div>
      </div>
    </section>
    {{/with}}

    {{#with gift}}
    <section class="product product-small product--airpods product--light  product--top">
      <div class="product__content">
        <h1 class="product__title">{{title}}</h1>
        <p class="product__description">{{descriptions}}</p>
        <div class="product__action">
          {{#with link}}
          <a href="{{link}}" class="product__link">{{text}}</a>
          {{/with}}
        </div>
      </div>
    </section>
    {{/with}}

    {{#with card}}
    <section class="product product-small product--card product--light  product--top">
      <div class="product__content">
        <h1 class="product__title">{{title}}</h1>
        <p class="product__description">{{descriptions}}</p>
        <div class="product__action">
          {{#with link}}
          <a href="{{link}}" class="product__link">{{text}}</a>
          {{/with}}
        </div>
      </div>
    </section>
    {{/with}}
  </div>

  <footer class="footer">
    <nav class="footer__nav">
      {{#each footer}}
      <div class="nav__action">
        <h6 class="nav--title">{{title}}</h6>
        {{#each links}}
        <a href="{{url}}" class="nav--link">{{text}}</a>
        {{/each}}
      </div>
      {{/each}}
    </nav>
  </footer>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}